* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

h1,
h2,
h3,
h4 {
  margin: 0 0 0.2em 0;
  padding: 0;
  font-weight: normal;
}

h1,
h2,
h3,
p {
  color: #e8e8e8;
}

p {
  line-height: 1.7em;
  font-weight: 400;
}

.about-me__title {
  font-weight: normal;
  color: #ecdab9;
}

.about-me__subtitle {
  padding: 0 1.1em;
  font-weight: 300;
  font-size: 1rem;
}

.about-me__illustration {
  width: 70%;
  margin: 0 auto;
}

.about-me__illustration-desktop {
  display: none;
}

.skills__title {
  color: #ecdab9;
}

.skills__subtitle {
  padding: 0 0.8em;
  font-size: 0.9rem;
}

.skills__illustration {
  margin-top: 1em;
}

.skills__image {
  width: 80vw;
  margin: 3em auto 0 auto;
}

.overlay {
  position: absolute;
  width: 60vw;
  width: 100%;
  height: 100%;
  background: #0c0a0a;
  left: 0;
  top: 0;
  transform: scale(0);
  transform-origin: left;
}

.transition-fade {
  transition: 0.6s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
  transform: translateY(-100px);
}

.transition-left {
  transition: 0.4s;
  transform: translateX(0);
}

html.is-animating .transition-left {
  opacity: 0;
  transform: translateX(-100px);
}

.transition-wipe {
  transition: 0.6s cubic-bezier(0, 0, 0.58, 1);
  transform: scaleX(0);
}

html.is-animating .transition-wipe {
  transform: scaleX(1);
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}

.slide-in-nav {
  animation: slide-in-nav 0.7s ease forwards;
}

.slide-out-nav {
  animation: slide-out-nav 0.7s ease backwards;
}

@keyframes slide-in-nav {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

@keyframes slide-out-nav {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}

.projects {
  display: flex;
  justify-content: center;
  background-image: url("/assets/Dots-animation.png");
  background-image: url("/assets/dots-color.png");
}

.projects__container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding: 10px 10px;
}

.projects .k {
  position: absolute;
  width: 100%;
  height: 95%;
  opacity: 0.8;
  background: #ecdab9;
}

.projects .page-navigation-projects {
  display: flex;
  margin: -0.4em auto 0em auto;
  padding: 0;
}

.projects .page-navigation__arrow {
  margin: 0 0.5em 0 0.5em;
  padding: 0;
  color: #ecdab9;
}

.project {
  width: 90%;
}

.project__description {
  width: 100%;
  min-height: 25vh;
  padding: 0.2em 0.6em;
  font-size: 0.8rem;
  background: #211f1f;
}

.project__image {
  display: block;
  width: 100%;
}

.project__tech {
  font-weight: 400;
  margin-bottom: 0.2em;
  color: #e8e8e8;
}

.project__heading {
  color: #ecdab9;
  font-size: 1.1rem;
  font-weight: 700;
}

.project__text {
  font-weight: 700;
}

.project__github-link {
  display: inline-block;
  background: #ecdab9;
  color: #211f1f;
  font-weight: bold;
  padding: 1em 2em;
  font-weight: 500;
  margin: 0.3em 0.2em;
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  margin: 0 auto;
}

.contact__title {
  font-size: 1.3rem;
}

.contact__subtitle {
  padding: 0 1em;
  font-size: 0.9rem;
}

.form__label {
  margin: 0.5em 0;
  font-size: 0.8rem;
  font-weight: 500;
  color: white;
}

.form__input {
  width: 100%;
  height: 2em;
  background: #211f1f;
  border: none;
}

.form__button {
  width: 100%;
  padding: 1.2em 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: black;
  background: #ecdab9;
  border: none;
}

.form__textarea {
  width: 100%;
  margin-bottom: 1em;
  background: #211f1f;
  border: none;
}

.form span {
  color: #ecdab9;
}

body {
  height: 100vh;
  font-size: 18px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  background: #0c0a0a;
}

html {
  overflow-x: hidden;
}

header {
  height: 100vh;
}

.logo-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 2em 0em 2em;
}

.logo-menu__text {
  font-size: 0.9rem;
  font-weight: 500;
  color: #ecdab9;
}

.hero {
  height: 100vh;
  margin-top: 0.7em;
}

.hero__heading {
  font-size: 3.5rem;
  font-weight: normal;
}

.hero__title {
  font-size: 2rem;
}

.hero__minor-heading {
  padding: 0 1.5em;
  font-size: 1.5rem;
  color: #ecdab9;
}

.hero__illustration {
  display: none;
  height: 30vh;
  margin: 2em auto;
}

.hero__subtitle {
  font-size: 1rem;
}

.hero__button {
  width: 10em;
  height: 3.5em;
  margin-top: 2em;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  background: #ecdab9;
}

.main-nav-desktop__item {
  display: none;
}

.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 2.5em;
  left: 100%;
  background: #211f1f;
}

.main-nav__list {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
  color: white;
}

.main-nav__item {
  width: 10%;
}

.main-nav__image {
  width: 90%;
}

.another-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 3rem;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: #ecdab9;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.nav__image {
  width: 1.2em;
}

.page-navigation {
  display: flex;
  background-color: #ecdab9;
  margin: 0;
  justify-content: center;
  height: 100%;
  width: 40%;
}

.page-navigation__arrow {
  margin: 0 0.3em;
  font-size: 2em;
  font-weight: 600;
}

@media (min-height: 600px) {
  .contact {
    margin-top: 2em;
  }
}

@media (min-height: 700px) {
  .hero__illustration {
    display: block;
  }
}

@media (min-width: 1024px) {
  .hero__illustration {
    display: block;
  }
  .another-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 3em;
  }
  .main-nav-desktop {
    display: flex;
    margin-top: 2em;
  }
  .main-nav-desktop__item {
    display: flex;
    margin: 0 5em 0 0;
    padding: 0;
  }
  .main-nav-desktop__list {
    margin: 0 3em 0 0;
    color: white;
  }
  .main-nav-desktop__link {
    font-size: 1rem;
    font-weight: 500;
    color: white;
  }
  .main-nav-desktop__link:hover {
    border-bottom: 2px solid #ecdab9;
    padding-bottom: 1em;
  }
  .container-logo {
    display: none;
  }
  .logo-menu {
    margin: 1em 2em 1em 9.8em;
  }
  .logo-menu__text {
    font-weight: 500;
    color: #ecdab9;
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin: 2rem 0 0 0;
    padding: 0;
  }
  .logo-menu__hamburger-icon {
    display: none;
  }
  .hero {
    background-image: url("/assets/dots-color.png");
    background-position-x: 20%;
    display: flex;
    align-items: center;
    height: 40vh;
    margin: 9em 5em 0 5em;
  }
  .hero__text {
    margin-left: 5em;
    text-align: left;
  }
  .hero__heading {
    font-size: 5.5rem;
    font-weight: normal;
  }
  .hero__title {
    font-size: 3rem;
  }
  .hero__minor-heading {
    font-size: 3rem;
    padding: 0;
    color: #ecdab9;
  }
  .hero__illustration {
    display: block;
    height: 70vh;
    margin: 2em auto;
  }
  .hero__subtitle {
    font-size: 1.2rem;
  }
  .hero__button {
    width: 10em;
    height: 3.5em;
    margin-top: 2em;
    font-weight: 600;
    background: #ecdab9;
    transition: 0.3s;
  }
  .hero__button:hover {
    background: #dfc38f;
    cursor: pointer;
  }
  .main-nav {
    display: none;
  }
  .social-media {
    width: 25%;
    background: #ecdab9;
  }
  .nav__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .nav__item {
    margin-left: 1.1em;
  }
  .nav__image {
    width: 1.4em;
    fill: black;
  }
  .page-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 8%;
    margin: 0;
    background: #ecdab9;
  }
  .page-navigation__arrow {
    margin: 0 0 0 0.4em;
  }
  .about-me {
    display: flex;
    align-items: center;
    background-image: url("/assets/dots-color@2x.png");
    background-repeat: none;
  }
  .about-me__title {
    color: #ecdab9;
    font-weight: normal;
    font-size: 3.5rem;
  }
  .about-me__subtitle {
    font-weight: 400;
    padding: 0 1.2em;
    font-size: 1.3rem;
  }
  .about-me__illustration {
    display: none;
  }
  .about-me__illustration-desktop {
    width: 90%;
    margin-top: 3em;
    display: block;
  }
  .text {
    width: 50%;
    margin-bottom: 5em;
    padding: 0 5em;
  }
  .skills {
    background-image: url("/assets/Dots-animation.png");
    display: flex;
    align-items: center;
  }
  .skills__title {
    margin-top: 1em;
    color: #ecdab9;
    font-size: 3.5rem;
  }
  .skills__subtitle {
    font-size: 1.3rem;
    padding: 0 1.2em;
  }
  .skills__illustration {
    margin-top: 1em;
  }
  .skills__image {
    width: 40vw;
    margin: 3em auto 0 auto;
  }
  .project {
    width: 40%;
  }
  .project__description {
    width: 100%;
    min-height: 25vh;
    background: #211f1f;
    font-size: 0.9rem;
    padding: 0.2em 0.6em;
  }
  .project__image {
    display: block;
    width: 100%;
  }
  .project__tech {
    font-weight: 400;
    margin-bottom: 0.2em;
    color: #e8e8e8;
  }
  .project__heading {
    color: #ecdab9;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 0.5em 0;
  }
  .projects__container {
    width: 30%;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .projects__description {
    font-size: 0.9rem;
  }
  .contact {
    background-image: url("/assets/Dots-animation.png");
    background-image: url("/assets/dots-color.png");
    display: flex;
    align-items: center;
  }
  .contact__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
  }
  .contact__title {
    font-size: 3rem;
    color: #ecdab9;
  }
  .contact__subtitle {
    font-size: 1.3rem;
    padding: 0 1em;
  }
  .form {
    margin-top: 3em;
    max-width: 30vw;
  }
  .form__label {
    color: white;
    margin: 0.5em 0;
    font-size: 1.1rem;
    font-weight: 500;
  }
  .form__input {
    width: 100%;
    color: white;
    font-size: 1.1rem;
    height: 3.5em;
    background: #211f1f;
    border: none;
  }
  .form__submit {
    font-size: 1.1rem;
    padding: 1.1em 0;
    transition: 0.3s;
  }
  .form__submit:hover {
    cursor: pointer;
    background: #dfc38f;
  }
  .form__textarea {
    font-size: 1.1rem;
    margin-bottom: 1em;
    height: 10em;
  }
  .form span {
    color: #ecdab9;
  }
}
/*# sourceMappingURL=main.css.map */