.about-me {
  &__title {
    color: $acc-clr;
    font-weight: normal;
  }

  &__subtitle {
    font-weight: 300;
    padding: 0 1.1em;
    font-size: 1rem;
  }

  &__illustration {
    position: absolute;
    top: 38%;
    left: 55%;
    transform: translateX(-50%);
    width: 70%;
    margin: 0 auto;
  }
}
