.about-me {
  &__title {
    font-weight: normal;
    color: $acc-clr;
  }

  &__subtitle {
    padding: 0 1.1em;
    font-weight: 300;
    font-size: 1rem;
  }

  &__illustration {
    width: 70%;
    margin: 0 auto;
  }

  &__illustration-desktop {
    display: none;
  }
}
