body {
  min-height: 100vh;
  font-size: 18px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  background: $primary-clr;
}

html {
  overflow-x: hidden;
}

header {
  min-height: 100vh;

  &__navigation {
    margin-bottom: 10em;
    border: 1px solid green;
  }
}

.logo-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 2em 0em 2em;

  &__text {
    font-size: 0.9rem;
    font-weight: 500;
    color: $acc-clr;
  }
}

.hero {
  height: 100vh;
  margin-top: 0.7em;
  &__heading {
    font-size: 3.5rem;
    font-weight: normal;
  }

  &__title {
    font-size: 2rem;
  }

  &__minor-heading {
    padding: 0 1.5em;
    font-size: 1.5rem;
    color: $acc-clr;
  }

  &__illustration {
    display: none;
    height: 30vh;
    margin: 2em auto;
  }

  &__subtitle {
    font-size: 1rem;
  }

  &__button {
    width: 10em;
    height: 3.5em;
    margin-top: 2em;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    background: $acc-clr;
  }
}

.main-nav-desktop__item {
  display: none;
}

.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 2.5em;
  left: 100%;
  background: #211f1f;
  margin-bottom: 2em;
  &__list {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    color: white;
  }

  &__item {
    width: 10%;
  }

  &__image {
    width: 90%;
  }
}
.another-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 3rem;
}
.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 2em 0;
  background: $acc-clr;
}

.nav {
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  &__image {
    width: 1.2em;
  }
}

.page-navigation {
  display: flex;
  background-color: $acc-clr;
  margin: 0;
  justify-content: center;
  height: 100%;
  width: 40%;
  &__arrow {
    margin: 0 0.3em;
    font-size: 2em;
    font-weight: 600;
  }
}
