// ** MEDIA QUERIES **

@media (min-height: 600px) {
  .contact {
    margin-top: 2em;
  }
}

@media (min-height: 700px) {
  .hero__illustration {
    display: block;
  }
}

// * DESKTOP *

@media (min-width: 1024px) {
  // * INDEX *

  .hero__illustration {
    display: block;
  }
  .another-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 3em;
  }

  .main-nav-desktop {
    display: flex;
    margin-top: 2em;

    &__item {
      display: flex;
      margin: 0 5em 0 0;
      padding: 0;
    }

    &__list {
      margin: 0 3em 0 0;
      color: white;
    }

    &__link {
      font-size: 1rem;
      font-weight: 500;
      color: white;
    }

    &__link:hover {
      border-bottom: 2px solid $acc-clr;
      padding-bottom: 1em;
    }
  }

  .container-logo {
    display: none;
  }

  .logo-menu {
    margin: 1em 2em 1em 9.8em;

    &__text {
      font-weight: 500;
      color: $acc-clr;
      font-size: 1.2rem;
      letter-spacing: 1px;
      margin: 2rem 0 0 0;
      padding: 0;
    }

    &__hamburger-icon {
      display: none;
    }
  }

  .hero {
    background-image: url("/assets/dots-color.png");
    background-position-x: 20%;
    display: flex;
    align-items: center;
    height: 40vh;
    margin: 9em 5em 0 5em;

    &__text {
      margin-left: 5em;
      text-align: left;
    }

    &__heading {
      font-size: 5.5rem;
      font-weight: normal;
    }

    &__title {
      font-size: 3rem;
    }

    &__minor-heading {
      font-size: 3rem;
      padding: 0;
      color: $acc-clr;
    }
    &__illustration {
      display: block;
      height: 70vh;
      margin: 2em auto;
    }

    &__subtitle {
      font-size: 1.2rem;
    }

    &__button {
      width: 10em;
      height: 3.5em;
      margin-top: 2em;
      font-weight: 600;
      background: $acc-clr;
      transition: 0.3s;
    }

    &__button:hover {
      background: #dfc38f;
      cursor: pointer;
    }
  }

  .main-nav {
    display: none;
  }

  .social-media {
    width: 25%;
    background: $acc-clr;
  }

  .nav {
    &__list {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
    }

    &__item {
      margin-left: 1.1em;
    }

    &__image {
      width: 1.4em;
      fill: black;
    }
  }

  .page-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 8%;
    margin: 0;
    background: $acc-clr;

    &__arrow {
      margin: 0 0 0 0.4em;
    }
  }

  // * ABOUT-ME *

  .about-me {
    display: flex;
    align-items: center;
    background-image: url("/assets/dots-color@2x.png");
    background-repeat: none;
    &__title {
      color: $acc-clr;
      font-weight: normal;
      font-size: 3.5rem;
    }

    &__subtitle {
      font-weight: 400;
      padding: 0 1.2em;
      font-size: 1.3rem;
    }

    &__illustration {
      display: none;
    }

    &__illustration-desktop {
      width: 90%;
      margin-top: 3em;
      display: block;
    }
  }

  .text {
    width: 50%;
    margin-bottom: 5em;
    padding: 0 5em;
  }
  // SKILLS SECTION
  .skills {
    background-image: url("/assets/Dots-animation.png");
    display: flex;
    align-items: center;
    &__title {
      margin-top: 1em;
      color: $acc-clr;
      font-size: 3.5rem;
    }

    &__subtitle {
      font-size: 1.3rem;
      padding: 0 1.2em;
    }

    &__illustration {
      margin-top: 1em;
    }

    &__image {
      width: 40vw;
      margin: 3em auto 0 auto;
    }
  }

  .project {
    width: 30em;
    &__description {
      width: 100%;
      min-height: 25vh;
      background: #211f1f;
      font-size: 0.9rem;
      padding: 0.2em 0.6em;
    }
    &__image {
      display: block;
      width: 100%;
    }

    &__tech {
      font-weight: 400;
      margin-bottom: 0.2em;
      color: $text-clr;
    }

    &__heading {
      color: $acc-clr;
      margin: 0.2em 0;
      font-size: 1.4rem;
      font-weight: 700;
      padding: 0.5em 0;
    }
  }

  // * PROJECTS *
  .projects {
    &__container {
      width: 30%;
      padding: 10px 10px;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
    }

    &__description {
      font-size: 0.9rem;
    }
  }

  // * CONTACT ME *

  .contact {
    background-image: url("/assets/Dots-animation.png");
    background-image: url("/assets/dots-color.png");
    display: flex;
    align-items: center;
    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80vw;
      margin: 0 auto;
    }

    &__title {
      font-size: 3rem;
      color: $acc-clr;
    }
    &__subtitle {
      font-size: 1.3rem;
      padding: 0 1em;
    }
  }

  .form {
    margin-top: 3em;
    max-width: 30vw;
    &__label {
      color: white;
      margin: 0.5em 0;
      font-size: 1.1rem;
      font-weight: 500;
    }
    &__input {
      width: 100%;
      color: white;
      font-size: 1.1rem;
      height: 3.5em;
      background: #211f1f;
      border: none;
    }

    &__submit {
      font-size: 1.1rem;
      padding: 1.1em 0;
      transition: 0.3s;
    }

    &__submit:hover {
      cursor: pointer;
      background: #dfc38f;
    }

    &__textarea {
      font-size: 1.1rem;
      margin-bottom: 1em;
      height: 10em;
    }

    span {
      color: $acc-clr;
    }
  }
}
