.projects {
  display: flex;
  justify-content: center;
  background-image: url("/assets/Dots-animation.png");
  background-image: url("/assets/dots-color.png");
  &__container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    padding: 10px 10px;
  }

  .k {
    position: absolute;
    width: 100%;
    height: 95%;
    opacity: 0.8;
    background: $acc-clr;
  }
  .page-navigation-projects {
    display: flex;
    margin: -0.4em auto 0em auto;
    padding: 0;
  }

  .page-navigation__arrow {
    margin: 0 0.5em 0 0.5em;
    padding: 0;
    color: $acc-clr;
  }
}

.project {
  width: 90%;
  &__description {
    width: 100%;
    min-height: 25vh;
    padding: 0.2em 0.6em;
    font-size: 0.8rem;
    background: #211f1f;
  }
  &__image {
    display: block;
    width: 100%;
  }

  &__tech {
    font-weight: 400;
    margin-bottom: 0.2em;
    color: $text-clr;
  }

  &__heading {
    color: $acc-clr;
    font-size: 1.1rem;
    font-weight: 700;
  }

  &__text {
    font-weight: 700;
  }

  &__github-link {
    display: inline-block;
    background: $acc-clr;
    color: #211f1f;
    font-weight: bold;
    padding: 1em 2em;
    font-weight: 500;
    margin: 0.3em 0.2em;
  }
}
