.projects {
  width: 100vw;
  height: 100vh;

  &__container {
    border-top: 1px solid yellow;
    border-left: 1px solid yellow;
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  &__image {
    padding-left: 20px;
    width: 100%;
    height: 50%;
  }

  &__description {
    padding-left: 500px;
    margin-left: 10em;

    width: 100%;
    height: 28vh;
    background: #242222;
  }
}
