.projects {
  position: absolute;
  width: 100vw;
  height: 100vh;

  &__container {
    margin: 0 1em;
    padding: 10px 10px;
    border-left: 1px solid #292828;
    border-top: 1px solid #292828;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  &__image {
    width: 100%;
    height: 50%;
    border-bottom: 1px solid #292828;
    padding-bottom: 10px;
  }

  &__description {
    margin: 0.5em 0;
    width: 100%;
    height: 26vh;
    background: #242222;
  }

  .page-navigation-projects {
    margin: 0 10em;
  }

  .page-navigation__arrow {
    color: $acc-clr;
    margin: 0;
    padding: 0;
  }
}
