.skills {
  &__title {
    color: $acc-clr;
  }

  &__subtitle {
    padding: 0 0.8em;
    font-size: 0.9rem;
  }

  &__illustration {
    margin-top: 1em;
  }

  &__image {
    width: 80vw;
    margin: 3em auto 0 auto;
  }
}
