@import "variables";
@import "reset";
@import "typography";
@import "about-me";
@import "skills";
@import "projects";
@import "contact";
// ANIMATION

.slide-in {
  animation: slide-in 0.8s ease forwards;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    visibility: visible;
  }

  to {
    transform: translateX(0%);
  }
}

body {
  background: $primary-clr;
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 18px;
  height: 100vh;
}

.logo-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 2em 0em 2em;

  &__text {
    font-weight: 500;
    color: $acc-clr;
    font-size: 0.9rem;
  }
}

.hero {
  height: 100vh;
  // background-image: url("/assets/Robot.png");
  // background-position: center 60%;
  // background-size: 70%;
  // background-repeat: no-repeat;
  margin-top: 0.7em;
  &__heading {
    font-size: 3.5rem;
    font-weight: normal;
  }

  &__title {
    font-size: 2rem;
  }

  &__minor-heading {
    font-size: 1.5rem;
    padding: 0 1.5em;
    color: $acc-clr;
  }

  &__illustration {
    height: 30vh;
    margin: 2em auto;
  }

  &__subtitle {
    font-size: 1rem;
  }

  &__button {
    width: 10em;
    height: 3.5em;
    margin-top: 2em;
    font-weight: 600;
    background: $acc-clr;
  }
}

.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 2.5em;
  left: 100%;
  background: #211f1f;
  &__list {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    color: white;
  }

  &__item {
    width: 10%;
  }

  &__image {
    width: 100%;
  }
}

.slide-in-nav {
  animation: slide-in-nav 0.7s ease forwards;
}

.slide-out-nav {
  animation: slide-out-nav 0.7s ease backwards;
}

@keyframes slide-in-nav {
  from {
    left: 100%;
  }

  to {
    left: 0%;
  }
}

@keyframes slide-out-nav {
  from {
    left: 0%;
  }

  to {
    left: 100%;
  }
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3em;
  background: $acc-clr;
}

.nav {
  &__list {
    display: flex;
    align-items: center;
    margin-left: 1.1em;
  }

  &__item {
    margin-left: 1.1em;
  }

  &__image {
    width: 1.4em;
    fill: black;
  }
}

.page-navigation {
  display: flex;
  margin-right: 2em;
  height: 100%;
  margin-top: 0.2em;
  &__arrow {
    margin-left: 1em;
    font-size: 2em;
    font-weight: 600;
  }
}

.overlay {
  position: absolute;
  width: 60vw;
  width: 100%;
  height: 100%;
  background: #0c0a0a;
  left: 0;
  top: 0;
  transform: scale(0);
  transform-origin: left;
}

.transition-fade {
  transition: 0.6s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
  transform: translateY(-100px);
}

.transition-left {
  transition: 0.4s;
  transform: translateX(0);
}

html.is-animating .transition-left {
  opacity: 0;
  transform: translateX(-100px);
}

.transition-wipe {
  transition: 0.6s cubic-bezier(0, 0, 0.58, 1);
  transform: scaleX(0);
}

html.is-animating .transition-wipe {
  transform: scaleX(1);
}

// ** MEDIA QUERIES **

// @media (min-width: 320px) {
//   .hero {
//     background-size: 80%;
//   }
// }

// @media (min-width: 700px) {
//   :root {
//     font-size: 24px;

//     .hero {
//       &__button {
//         width: 12em;
//         height: 3em;
//         font-size: 1.2rem;
//         margin: 0;
//       }
//     }
//   }
// }

// @media (min-width: 900px) {
//   :root {
//     font-size: 30px;

//     .hero {
//       &__button {
//         width: 12em;
//         height: 3em;
//         font-size: 1.2rem;
//         margin: 0;
//       }
//     }
//   }

//   .logo-menu__hamburger-icon {
//     width: 2.5em;
//   }
// }

// @media (min-height: 600px) {
//   .hero {
//     background-position: center 60%;
//     background-size: 100%;
//   }
// }
