@import "variables";
@import "reset";
@import "typography";
@import "about-me";
@import "skills";
@import "projects";
@import "contact";

// ANIMATION

.slide-in {
  animation: slide-in 0.8s ease forwards;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    visibility: visible;
  }

  to {
    transform: translateX(0%);
  }
}

body {
  background: $primary-clr;
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 18px;
}

.logo-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 2em 0em 2em;

  &__text {
    font-weight: 500;
    color: $acc-clr;
    font-size: 0.9rem;
  }
}

.hero {
  position: absolute;
  margin-top: 0.7em;
  &__heading {
    font-size: 3rem;
    font-weight: normal;
  }

  &__title {
    font-size: 2rem;
  }

  &__minor-heading {
    font-size: 1.5rem;
    padding: 0 1.5em;
    color: $acc-clr;
  }

  &__illustration {
    width: 75%;
    margin: 0.7em auto;
  }

  &__subtitle {
    font-size: 0.9rem;
  }

  &__button {
    width: 10em;
    height: 3.5em;
    margin-top: 2em;
    font-weight: 600;
    background: $acc-clr;
  }
}

.main-nav {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 100%;
  // display: none;
  height: 2.5em;
  background: #211f1f;
  &__list {
    color: white;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    width: 90%;
  }

  &__item {
    width: 10%;
  }

  &__image {
    width: 100%;
  }
}

.slide-in-nav {
  animation: slide-in-nav 0.7s ease forwards;
}

.slide-out-nav {
  animation: slide-out-nav 0.7s ease backwards;
}

@keyframes slide-in-nav {
  from {
    left: 100%;
  }

  to {
    left: 0%;
  }
}

@keyframes slide-out-nav {
  from {
    left: 0%;
  }

  to {
    left: 100%;
  }
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3em;
  background: $acc-clr;
}

.nav {
  &__list {
    display: flex;
    align-items: center;
    margin-left: 1.1em;
  }

  &__item {
    margin-left: 1.1em;
  }

  &__image {
    width: 1.4em;
    fill: black;
  }
}

.page-navigation {
  display: flex;
  margin-right: 2em;
  height: 100%;
  margin-top: 0.2em;
  &__arrow {
    margin-left: 1em;
    font-size: 2em;
    font-weight: 600;
  }
}
